[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=untitled1
Exec=/usr/bin/single-instance /opt/untitled1/bin/untitled1
Icon=/usr/share/icons/hicolor/80x80/apps/untitled180.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
