[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Project2
Exec=/usr/bin/single-instance /opt/Project2/bin/Project2
Icon=/usr/share/icons/hicolor/80x80/apps/Project280.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
